<div class="container">
    <div class="row">
        {{ form_start(form) }}
        <table>
            <tbody>
            <tr>
                <th>Nom:</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Titre de noblesse:</th>
                <td>{{ form_widget(form.title) }}</td>
            </tr>
            <tr>
                <th>Couleur:</th>
                <td>{{ form_widget(form.color) }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ form_widget(form.save) }}</td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</div>