{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href= {{ asset('style.css') }}
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg "
      style="height: 70px;"
    >
      <img class="navbar-brand" src="{{ asset('./assets/logo_civilization.svg')}}"/>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
          <li><a class="nav-link" href="{{ path('players_show') }}">Tous les joueurs</a></li>
          <li><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
          <li><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
          <li><a class="nav-link" href="{{ path('registration') }}">S'inscrire</a></li>
        {% endif %}
      </ul>
    </nav>
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
      {% endfor %}

      {% for message in app.flashes('echec') %}
        <div class="alert alert-alert">
            {{ message }}
        </div>
      {% endfor %}
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>